<h1>Spotify Clone - Bienvenido Oyente</h1>

<% if current_listener %>
  <p>Hola <%= current_listener.email %></p>
  <p>Oyente creado el <%= format_datetime(current_listener.created_at) %></p>
  <%= button_to 'Cerrar sesión', destroy_listener_session_path, method: :delete, data: { turbo: :false } %>
<% else %>
  <%= link_to 'Iniciar sesión', new_listener_session_path %>
  <%= link_to 'Registrarse', new_listener_registration_path %>
<% end %>

<hr>
<h2>Artistas Globales</h2>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.email %></td>
      <td><i>Seguir</i> | <i>Ver</i></td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Mis Artistas</h2>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Los Espiritus</td>
      <td><i>Seguir</i> | <i>Ver</i></td>
    </tr>
    <tr>
      <td>Usted Señalemelo</td>
      <td><i>Seguir</i> | <i>Ver</i></td>
    </tr>
  </tbody>
</table>
