<h1>Spotify Clone - Bienvenido Oyente</h1>

<% if current_listener %>
  <p>Hola <%= current_listener.email %></p>
  <p>Oyente creado el <%= format_datetime(current_listener.created_at) %></p>
  <%= button_to 'Cerrar sesión', destroy_listener_session_path, method: :delete, data: { turbo: :false } %>
<% else %>
  <%= link_to 'Iniciar sesión', new_listener_session_path %>
  <%= link_to 'Registrarse', new_listener_registration_path %>
<% end %>

<hr>
<h2>Artistas Globales</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.id %></td>
        <td><%= artist.email %></td>
        <td>
          <%= form_with url: listeners_followers_path do |f| %>
            <%= f.hidden_field :artist_id, value: artist.id %>

            <%= f.submit 'Seguir' %>
          <% end -%> 
        </td>
        <td><%=link_to "ver", listeners_artist_path(artist.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h2>Mis Artistas</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @followed_artists.each do |follower| %>
      <tr>
        <td><%= follower.id %></td>    
        <td><%= follower.email %></td>
        <td>
           <%= button_to 'dejar de seguir', listeners_follower_path(follower), method: :delete, data: { turbo: :false } %>
        </td>
        <td><%=link_to "ver", listeners_artist_path(follower.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table >
