<h1>Spotify Clone - Bienvenido</h1>

<% if current_artist %>
  <p>Hola <%= current_artist.email %></p>
  <p>Artista creado el <%= format_datetime(current_artist.created_at) %></p>
  <%= button_to 'Cerrar sesión', destroy_artist_session_path, method: :delete, data: { turbo: :false } %>
  <%= link_to 'Mis álbumes', artists_albums_path %>

<% elsif current_listener %>
  <p>Hola <%= current_listener.email %></p>
  <p>Oyente creado el <%= format_datetime(current_listener.created_at) %></p>
  <%= button_to 'Cerrar sesión', destroy_listener_session_path, method: :delete, data: { turbo: :false } %>
  <br>
  <br>
  <%= link_to 'Explorar música',listeners_root_path %>
<% else %>
  <%= link_to 'Iniciar sesión como Artista', new_artist_session_path %> |
  <%= link_to 'Registrarse como Artista', new_artist_registration_path %>
  <br>
  <br>
  <br>
  <%= link_to 'Iniciar sesión como Oyente', new_listener_session_path %> |
  <%= link_to 'Registrarse como Oyente', new_listener_registration_path %>
<% end %>
