<!DOCTYPE html>
<html>
  <head>
    <%= link_to 'SpotifyClone', root_path %> 
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <br><hr>

    <% if flash[:alert] %>
      <strong><%= flash[:alert] %></strong>
    <% end %>

    <%= yield %>

    <br><br><br><hr>
    <footer>Creado por Frank</footer>
  </body>
</html>
